<div style="font-family:Verdana;text-align:center;background-color:#ADEBAD;">
	<div style="width:100%;height: 8px; background-color:#EBFAEB;" ></div>
	<div style="width:100%;height: 8px; background-color:#D6F5D6;" ></div>

	<h1 style="padding:10px;color:white;">
		Hola, <%= @name %>
	</h1>

	<p style="">Bienvenido Botanicapp.</p>

	<p style="">Haz click <a style="color:white;text-decoration:none;font-size:25px;" href="<%= @url %>">aquí</a> para activar tu cuenta</p>

	<div style="margin-top:40px;width:100%;height: 8px; background-color:#D6F5D6;" ></div>
	<div style="width:100%;height: 8px; background-color:#EBFAEB;" ></div>
</div>