<link rel="stylesheet" type="text/css" href="/assets/listas.css">

<div class="superior">
	<a id="volver" href="/">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver al inicio
	</a>
</div>


<div class="superior">
	<a id="volver" href="/">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver al inicio
	</a>
</div>

<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Favoritos</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span>Filtrar</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="Id" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Nombre" disabled></th>
                    </tr>
                </thead>
                <tbody>

                    <% @plants_user.each do |plant| %>
                		<tr>
                			<td style="width: 80px;">
                				<%= plant.id %>
                			</td>

                			<td> 
                				<%= link_to plant.name, plant_path(plant) %>
                			</td>
                		</tr>		
                	<% end %>

                </tbody>
            </table>
        </div>
    </div>
<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/listas.js" ></script>
<% end %>
