<div class="fold_historial">
	<div class="encabezado">
		<table>
			<tr>
				<td id="volver">
					<a href="/"><img src="/assets/back.png"></td></a>
				<td id="titulo">Historial</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="contenido">
		<table>
			<% for i in 0..4 %>
				<tr>
					<td style="width:40px;">
						<img src="/assets/logo_1.jpg">
					</td>
					<td id="nombre">
						<a href="">Visto: Arbol <%= i+1 %></a>
						<p><%= 5-i %>/06/2015</p>
					</td>
				</tr>
			<% end %>
			<% for i in 0..7 %>
				<tr>
					<td style="width:40px;">
						<img src="/assets/fav.png">
					</td>
					<td id="nombre">
						<a href="">Favoritos: Arbol <%= i+1 %></a>
						<p><%= 8-i %>/06/2015</p>
					</td>
				</tr>
			<% end %>

		</table>
	</div>

</div>