<link rel="stylesheet" type="text/css" href="/assets/listas.css">

<div class="superior">
	<a id="volver" href="/">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver al inicio
	</a>
</div>

<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Usuarios</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span>Filtrar</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="Id" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Usuario" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Rol" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Estado" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Verf" disabled></th>
                        <th colspan="4">Acciones</th>
                    </tr>
                </thead>
                <tbody>
				<% @users.each do |user| %>
					<tr>
						<td>
							<%= user.id %>
						</td>

						<% if !user.provider_uid %>
							<% if @user.id == user.id %>
								<th><%= user.username %></th>
							<% else %>	
								<td><%= user.username %></td>
							<% end %>
						<% else %>
							<% if @user.id == user.id %>
								<th><%= user.name %></th>
							<% else %>	
								<td><%= user.name %></td>
							<% end %>
						<% end %>	
							
						<% if user.role.to_i == 0 %>
							<td>Super Admin</td>
						<% elsif user.role.to_i == 1 %>
							<td>Admin</td>
						<% elsif user.role.to_i == 2 %>
							<td>Usuario</td>
						<% end %>

						
						<% if user.estado == 0 %>
							<td>Inactivo</td>
						<% else %>
							<td>Activo</td>
						<% end %>

						<% if user.verified %>
							<td>Si</td>
						<% else %>
							<td>No</td>
						<% end %>

						<% if user.role.to_i != 0 %>
							<% if @user.role.to_i < user.role.to_i || @user.id == user.id %>
								<td>
									<%= link_to 'Editar' , edit_user_path(user) %>
								</td>

								<td>
									<%= link_to "Eliminar", user_path(user), method: :delete, data:{confirm: "¿Esta seguro?"} %>
								</td>
								
								<td>
									<%= form_for :user, url: changerole_path(user), method: :patch do |f| %>	


										<%= f.select 'role', options_for_select([["Admin", 1], ["User", 2]]) %>

										<%= f.submit 'Change' %>
									<% end %>

								</td>

								<% if !user.provider_uid %>
									<td>

										<% if user.estado == 1 %>
											<%= form_for :user, url: activacionadmin_path(user), method: :patch do |f| %>
												<%= f.submit 'Dar de baja' %>
											<% end %>
										<% else %>
											<%= form_for :user, url: activacionadmin_path(user), method: :patch do |f| %>	
												<%= f.submit 'Dar de alta' %>
											<% end %>
										<% end %>	

									</td>
								<% end %>

							<% else %>	
								<td></td>
								<td></td>
								<td></td>
							<% end %>
						<% else %>
							<td></td>
							<td></td>
							<td></td>	
						<% end %>
					</tr>
				<% end %>

                </tbody>
            </table>
        </div>
    </div>
<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/listas.js" ></script>
<% end %>