
<link rel="stylesheet" type="text/css" href="/assets/users.css">



<div class="fold_show_user">
	<div class="fondo_colorido">

		<div class="encabezado">
			
			<table>
				<tr>
					<td>
						<% if @user.image %>
							<img id="img_perfil" src="<%= @user.image %>" class="thumbnail">
						<% else %>
								<img id="img_perfil" src="/assets/logo_2.png" class="thumbnail">
						<% end %>
					</td>

					<td>
						<h2> <%= @user.name %> </h2>
					</td>

					<td id="mod" href="#modal_opcs" class="modal_director">
						<a id="volver">
							<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> 
						</a>
					</td>
				</tr>
			</table>

		</div>

		<div class="contenido">

			<% if flash[:notice] %>
				<div class="alert alert-warning" role="alert">
					<%= flash[:notice] %>
				</div>
			<% end %>
			
			<div class="busqueda" > 
				<a id="buscar_btn" class="btn btn-success" >Buscar plantas</a>

				<div id="err_aviso">
				</div>

				<div id="cont_refre">
					<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
				</div>
			</div>

			<ul id="lista_a" class="list-group">
			</ul>

			<div id="map-canvas" style="height:0"></div>


		</div>
	</div>
</div>


			<!--MODAL -->
<div hidden class="modal_actor" id="modal_opcs">
	<div class="modal_content">
		<ul class="list-group">
			
			<% if @user.role != 2 %>
			<li class="list-group-item">
				<a href="/users">
				<span class="glyphicon glyphicon-list" aria-hidden="true"></span> 
				Usuarios</a>
			</li>
			<% end %>
			<li class="list-group-item">
				<a href="<%= list_path %>">
				<span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> 
				Arboles</a>
			</li>
			<li class="list-group-item">
				<a href="<%= edit_user_path(@user) %>">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<%= t :profile %></a>
			</li>
			<li class="list-group-item">
				<a href="<%= map_path %>">
				<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
				<%= t :map %></a>
			</li>
			<li class="list-group-item">
				<a href="<%= favorites_path %>">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				<%= t :favorites %></a>
			</li>
			<!-- <li><a href="<%= history_path %>"><%= t :history %></a></li> -->
			<li class="list-group-item"><a href="/signout">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
				<%= t :logout %></a>
			</li>
		</ul>
	</div>
</div>

<script type="text/javascript" src="/assets/show.js"></script>
<!--
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8lONMbO96_r_hmWz5j7Q4sgW6wadLHew"></script>
-->