<link rel="stylesheet" type="text/css" href="/assets/newyedit.css">

<div class="fold_new">
<h1>Un pasito más</h1>
<%= form_for :user, url: users_path do |f| %>

		<% if @user && @user.errors.any? %>
			<div id="error_explanation">
				<h2>
					Existen <%=pluralize(@user.errors.count, "error", "errores")%> en el formulario.
				</h2>
				<ul class="list-group">
					<% @user.errors.full_messages.each do |msg| %>
						<li class="list-group-item list-group-item-danger" ><%= msg %></li>
					<% end %>
				</ul>	
			</div>
		<% end %>

	<%= f.hidden_field "name", :class => "mi_clase" %>
	<%= f.hidden_field "provider_uid" %>
	<%= f.hidden_field "image"  %>

	<% if flash[:notice] %>
				<div class="alert alert-warning" role="alert">
					<%= flash[:notice] %>
				</div>
	<% end %>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">
		<%=f.label :username, "Usuario" %> </span>
		<%=f.text_field :username, :class => "form-control" %>
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">
		<%=f.label :email, "Correo"%> </span>
		<%=f.text_field :email, :class => "form-control" %>
	</div>

	<div class="input-group">
			<span class="input-group-addon">
				<%= f.radio_button(:gender, "male")%>
			</span>
			<%= f.label :gender_male, "Hombre", :class => "form-control" %>
		</div>

	<div class="input-group">
			<span class="input-group-addon">
				<%= f.radio_button(:gender, "female")%>
			</span>
			<%= f.label :gender_female, "Mujer", :class => "form-control" %>
	</div>	

	<img src="<%= @user.image %>" alt="" class="thumbnail">
	<%= f.submit "Crear usuario", :class => "btn btn-success" %>

<% end %>

	<a id="volver_2" href="/">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Cancelar
	</a>
	
</div>

