<link rel="stylesheet" type="text/css" href="/assets/newyedit.css">


<div class="fold_new ">
	<h1>Modificar</h1>
<%= form_for :plant, url: plant_path(@plant), method: :patch do |f| %>

		<% if @plant && @plant.errors.any? %>
			<div id="error_explanation">
				<h2>
					Existen <%=pluralize(@plant.errors.count, "error", "errores")%> en el formulario.
				</h2>
				<ul class="list-group">
				<ul>
					<% @plant.errors.full_messages.each do |msg| %>
						<li class="list-group-item list-group-item-danger"><%= msg %></li>
					<% end %>
				</ul>	
			</div>
		<% end %>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">
		<%=f.label :name, "Nombre"%> </span>
		<%=f.text_field :name , :class => "form-control"%>
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">
		<%=f.label :common_name, "Nombres comunes"%></span>
		<%=f.text_area :common_name , :class => "form-control", :rows => "2" %>
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">
		<%=f.label :resume, "Resumen"%></span>
		<%=f.text_area :resume , :class => "form-control", :rows => "2" %>
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">
		<%=f.label :description, "Descripción"%></span>
		<%=f.text_area :description , :class => "form-control", :rows => "4" %>
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">
		<%=f.label :distribution, "Distribución"%></span>
		<%=f.text_field :distribution , :class => "form-control"%>
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">
		<%=f.label :etnobotanic, "Etnobotánica"%></span>
		<%=f.text_field :etnobotanic , :class => "form-control"%>
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">
		<%=f.label :latitude, "Latitud"%></span>
		<%=f.text_field :latitude, :maxlenght => "15" , :class => "form-control"%>
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">
		<%=f.label :longitude, "Longitud"%></span>
		<%=f.text_field :longitude, :maxlenght => "15" , :class => "form-control"%>
	</div>

		<%= f.file_field 'images', multiple: true, :class => "input_imageM" %>

		<div class="imagenes"></div>

		<%=f.submit "Enviar", :class => "btn btn-success", data:{confirm: "¿Esta seguro? En caso de haber imagenes subidas se borrarán."} %>
		
<% end %>


</div>

<a id="volver" href="<%= plants_path %>">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver
</a>

