<link rel="stylesheet" type="text/css" href="/assets/listas.css">

<div class="superior">
	<a id="volver" href="/">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver al inicio
	</a>
	<% if @user.role != 2 %>
		<a class="btn btn-primary" href="plants/new">Crear nueva planta</a>
	<% end %>
</div>

<div class="container">

	<% if @plants.count == 0 %>
		<h1>No hay plantas creadas</h1>


	<% else %>

    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Plantas</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span>Filtrar</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="id" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Nombre" disabled></th>

			            <% if @user.role != 2 %>
						<th colspan= 2 >Acciones</th>
						<% end %>

                    </tr>
                </thead>
                <tbody>

			<% @plants.each do |plant| %>
				<tr>
					<td id="num_plant">
						<%= plant.id %>
					</td>
					<td>
						<p><%= link_to plant.name , plant_path(plant) %></p>
					</td>

					<% if @user.role != 2 %>
						<td>
							<%= link_to 'Editar' , edit_plant_path(plant) %>
						</td>
						<td>
							<%= link_to "Eliminar", plant_path(plant), method: :delete, data:{confirm: "¿Esta seguro?"} %>
						</td>
					<% end %>

				</tr>
			<% end %>


                </tbody>
            </table>
        </div>
    </div>

<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/listas.js" ></script>
<% end %>