/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_normalize
 *= require bootstrap.min
 */

@import "_breve";
@import "_bootstrap-sprockets";
@import "bootstrap";

@font-face {
	font-family: 'PT_Sans';  
	src: url('/assets/PT_Sans/pt_sans-web-regular-webfont.eot');  
	src: url('/assets/PT_Sans/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),  
	url('/assets/PT_Sans/pt_sans-web-regular-webfont.woff') format('woff'),  
	url('/assets/PT_Sans/pt_sans-web-regular-webfont.ttf') format('truetype'),  
	url('/assets/PT_Sans/pt_sans-web-regular-webfont.svg#PT_Sans') format('svg');  
	font-weight: normal;  
	font-style: normal; 
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

html{
	padding: 0;
	margin: 0;
}

body{
	margin: 0;
	padding: 0;
	/*border: 2px solid red;*/

	background-color: white;

	.barrasuperior{
	    height: 22px;
	    width: 100%;
	    background-color: black;
	    margin: 0 auto;
	    z-index: 4;
	}
}

.fold_index{
	background-image: url("/assets/fondo_app.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	min-height: 600px;
	
	.fondo_colorido{
		background-color: rgba(0,20,0,.7);
		background-attachment: fixed;
		height: 100%;
		min-height: 100%;
	}	

	img{
		width: 150px; 
		height:	150px;
		border-radius: 100%;
		margin-top: 10px;
		border: 4px solid gold;
	}


	table{
		margin: 0 auto;
		tr{
			/*height: 40px;*/
			td{
				color: white;
				text-align: right;
				font-family: 'PT_Sans';
				#olvidaste_contrasena{
					font: normal 10px arial;
					color: rgba(255,255,255,.5);
				}
				#entrar_btn{
					float: right;
				}
			}
		}

		tr#logo_bapp{
			height: 70px;
			td{
			text-align: center;
				h1{
					color: white;
					font: normal 30px 'PT_Sans';
					display: inline-block;
				}
				h2{
					color: gold;
					font: normal 30px 'PT_Sans';
					display: inline-block;
				}
			}
		}

		tr#incorrecto{
			td{
				text-align: center;
				color: rgba(255,100,100,.8);
			}
		}		

		tr#col_botones{
			height: 60px;
			td{
				text-align: center;
				a#entrar_facebook{
					margin: 0 auto;
					background-color: #47b;
					padding: 10px;
					border-radius: 4px;
					text-decoration: none;
					color: white;
				}
				a#entrar_facebook:hover{
					background-color: #49b;
				}
				a#entrar_google{
					background-color: #7be;
					padding: 10px;
					border-radius: 4px;
					text-decoration: none;
					color: white;
				}
				a#entrar_google:hover{
					@include gradient(vertical, #57cdf1, #57cdf1);
				}
			}
		}
		tr#col_registro{
			height: 70px;
			td{
				text-align: center;
				a#registro{
					font: bold 15px 'PT_Sans';
					text-decoration: none;
					color: rgb(0,255,0);
				}
			}
		}

	}

	#pie_pagina{
		font: normal 10px 'PT_Sans';
		color: rgb(160,160,160);
	}

}

.fold_favoritos{
	background-image: url("/assets/tree.png");
	background-attachment: fixed;
	position: absolute;
	width: 100%;
	height: 100%;

	.encabezado{
		background-image: url("/assets/tweed.png");
		position: fixed;
		width: 100%;
		height: 50px;
		background-color: white;
		text-align: center;
		box-shadow: 0px 2px 5px #999;
		z-index: 1;
		table{
			tr{
				border-spacing: 0;
				width: 100%;
				td#volver{
					border-right: 1px solid #91bf3b;
					img{
						width: 30px;
						height: 30px;
					}
				}
				td#titulo{
					font: 30px normal 'PT_Sans';
					color: gold;
				}
			}
		}
	}
	.contenido{
		position: relative;
		top: 50px;
		background-color: white;
		table{
			width: 100%;
			tr{
				height: 50px;
				td{

					img{
						width: 30px;
						height: 30px;
					}
					a{
						text-decoration: none;
						color: #999;
					}				
				}
				td#nombre{
					border-bottom: 1px solid #eee;
					font: 15px normal 'PT_Sans';
				}
			}
		}
	}
}

.fold_historial{
	background-image: url("/assets/tree.png");
	background-attachment: fixed;
	position: absolute;
	width: 100%;
	height: 100%;

	.encabezado{
		background-image: url("/assets/tweed.png");
		position: fixed;
		width: 100%;
		height: 50px;
		background-color: white;
		text-align: center;
		box-shadow: 0px 2px 5px #999;
		z-index: 1;
		table{
			tr{
				border-spacing: 0;
				width: 100%;
				td#volver{
					border-right: 1px solid #91bf3b;
					img{
						width: 30px;
						height: 30px;
					}
				}
				td#titulo{
					font: 30px normal 'PT_Sans';
					color: gold;
				}
			}
		}
	}
	.contenido{
		position: relative;
		top: 50px;
		background-color: white;
		table{
			width: 100%;
			tr{
				height: 50px;
				td{

					img{
						width: 30px;
						height: 30px;
					}
					a{
						text-decoration: none;
						color: #999;
					}				
				}
				td#nombre{
					border-bottom: 1px solid #eee;
					font: 15px normal 'PT_Sans';
					p{
						margin: 0px 10px 0px 0px;
						float: right;
						font: 10px normal 'PT_Sans';
						color: #ccc;
					}
				}
			}
		}
	}
}





#map-container {
   height: 400px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }
 #map-canvas {
   height: 384px;
   width: 100%;
 }
