.forgot_fold{
	margin: 0 auto; padding: 0px;
	text-align: center;
	margin-top: 150px;

	h3{
		color: #999;
		margin: 0 3% 0 3%;
	}
	.campos_login{
		margin: 0 auto;
		max-width: 500px;
		.input-group{
			margin: 5%;
			margin-top: 10%;
		}
	}

	.btn-success{
		margin: 1% 0px 5% 0px;
		width: 40%;
		max-width: 300px;
	}
	.glyphicon-chevron-left{
		margin: 5px 5px 0px 5px;
		text-align: left;
	}
	.alert-danger{
		margin: 25px 20% 0px 20%;
	}
}

