
.superior{
	z-index: 2;
	padding: 6px;
	position: fixed;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #eee;
	#volver{
		color: gray;
		padding: 7px;
		margin: 5px;
		background-color: rgba(white,1);
		box-shadow: 0px 1.5px 1px 0px rgba(50, 50, 50, 0.15);
		border-radius: 3px;
		border: 1px solid rgba(gray,.5);
		list-style-type: none;
		font-size: 8pt;

		.glyphicon-chevron-left{
			color: gray;
			margin: 0 auto;
		}
	}
	.btn-primary{
		box-shadow: 0px 1.5px 1px 0px rgba(50, 50, 50, 0.15);
	}
}

.fold_lista{
	position: absolute;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	h1{
		margin-top: 20px;
	}
	#init{
		height: 50px;
	}
	th{
		text-align:center;
	}
}

#num_plant{
	width: 60px;
}
.filterable {
	margin-top: 50px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

