  html, body, #map-canvas {
    height: 100%;
    margin: 0 auto;
    padding: 0px;
  	z-index: 0;
  }

  #volver{
  	z-index: 1;
	position: absolute;
	color: gray;
	padding: 7px;
	margin-top: 7px;
	margin-left: 15%;
	background-color: rgba(white,1);
	box-shadow: 0px 1.5px 1px 0px rgba(50, 50, 50, 0.15);
	border-radius: 3px;
	border: 1px solid rgba(gray,.5);
	list-style-type: none;
	font-size: 8pt;

	.glyphicon-chevron-left{
		color: gray;
		margin: 0 auto;
	}
}

#thub_info{
	width: 100px;
}