
body{

	background-image: url("/assets/fondo_app__.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}	

h1{
	background-color: rgba(#6c6,1);
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	color: white;
}
.fold_new{
	
	margin: 0 auto;
	text-align: center;
	padding: 0px;

	.input-group{
		margin: 5%;
	}

	.form-control{
	}

	.btn-success{
		margin: 0 auto;
		width: 40%;
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.glyphicon-chevron-left{
		margin: 5px 5px 0px 5px;
		text-align: left;
	}

	.input_image{
		display: block;
		margin: 5%;
	}

	.input_imageM{
		display: block;
		margin: 5%;
	}

	.thumbnail{
		margin: 0 auto;
		margin-top: 5px;
		margin-bottom: 5px;
		max-width: 300px;
	}
	.glyphicon-chevron-left{
		margin-top: 30px;
	}

	.btn-danger{
		margin: 10px;
	}
	.btn-info{
		height: 30px;
	}
	#volver_2{
		.glyphicon-chevron-left{
			margin: 30px 10px 10px 10px;
		}
	}
}



#volver{
	z-index: 2;
	position: fixed;
	color: gray;
	padding: 7px;
	margin: 10px;
	background-color: rgba(white,1);
	box-shadow: 0px 1.5px 1px 0px rgba(50, 50, 50, 0.15);
	border-radius: 3px;
	border: 1px solid rgba(gray,.5);
	list-style-type: none;
	font-size: 8pt;

	.glyphicon-chevron-left{
		color: gray;
		margin: 0 auto;
	}
}


