// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_breve";

html{
}
.fold_show_user{

	.encabezado{
		width: 100%;
		height: 60px;
		background-color: #6c6;
		position: fixed;
		z-index: 1;
		top: 0;

		h2{
			font-size: 20px;
			margin: 0;
			color: white;
		}
		table{
			width: 100%;
			height: 20px;
			tr{
				td{
					text-align: left;
					.thumbnail{
						height: 60px;
						margin: 0;		
					}
				}
				
				td#mod{
					width: 70px;
					height: 60px;
					text-align: center;
					.glyphicon-leaf{
						color: white;
						font-size: 20px;
						margin: 5px;
					}
				}
				td#mod:hover{
					cursor: pointer;
					background-color: rgba(black,0.5);
					.glyphicon-leaf{
						color: gold;
						font-size: 20px;
						margin: 5px;
					}
				}
				
			}
		}


	}
	.contenido{
		margin: 0 0% 2% 0%;
		text-align: center;
		h2{
			margin: 0 0 10px 0;
			text-align: center;
		}
		#Refrescar{
			color: white;
		}
		#n_planta{
			color: #6c6;
		}
		.busqueda{
			margin-top: 60px;
			border-bottom: 1px solid #eee;
			background-color: white;
			.btn-success{
				margin: 30px;
			}
			.btn-warning{
				margin-bottom: 10px;
			}
			.alert-info{
				margin-top: 10px;
			}
			.alert-danger{
				margin-top: 10px;
			}
			.alert-warning{
				margin-top: 10px;
			}
	
		}
		#lista_a{
			margin-top: 10px;
			.list-group-item{
				margin:  0 30px 0 30px;
				border: none;
			}	
		}
	}
}


.modal_actor{
	z-index: 3;
	position: fixed;
	right: 0;
	top: 70px;
	margin: 10px;
	.list-group-item{
		text-align: left;
	}

	ul{
		li{
				width: 120px;
				height: 50px;
			a{
				color: #999;
			}
		}
	}
}