
<link rel="stylesheet" type="text/css" href="/assets/map.css">

<div id="id_user" style="display:none;">
	<%= session[:user] %>
</div>

<a id="volver" href="/">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver
</a>

<div id="map-canvas"></div>

<script type="text/javascript" src="/assets/map.js"></script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8lONMbO96_r_hmWz5j7Q4sgW6wadLHew"></script>

<script type="text/javascript">
    window.currentUser = {
        id : "<%= @user.id %>"
    }
    //console.log(window.currentUser);
</script>
