<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE = edge, chrome = 1"><![endif]-->
  <meta name="description" content="Descripción de mi sitio web.">
  <meta name="keywords" content="palabras, claves, de app">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="user-scalable = no, initial-scale = 1.0, maximum-scale = 1.0, width = device-width">
  <meta name="author" content="My app .inc">

  <link rel="icon" type="image/png" href="/assets/favicon.png" />

  <title><%= @title_browser.present? ? "#{@title_browser} | BotanicApp" : "BotanicApp" %></title>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= yield :javascripts %>
</body>
</html>
